@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
	margin: 0;
	color: white;
}

header{
	position: fixed;
	width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: black;
	z-index: 1;
	height: 100vh;
}
/*Formulaire de connexion*/
.center{
	height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
}

.container-form{
	border: white 3px solid;
	width: 30rem;
	padding: 3rem;
	/*margin: auto;*/
}

.form-submit{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

input{
	color: black;
	display: block;
	width: 30rem;
	height: 1.5rem;
	margin: 2rem 0;
	font-size: large;
	font-weight: 700;
}


input[type=submit] {
	 width: 10rem;
	 border: 2px solid white;
	 color: white;
	 background-color: black;
	 height: 4rem;
	 margin: 2rem auto;
}
